<!DOCTYPE html>
<%- include("./partial/head.ejs") %>
<body>
    <%- include("./partial/header.ejs") %>
    <%- include("./partial/banner.ejs") %>
    <%- include("./partial/nav.ejs") %>
    <div class="content">
        <h1>Good Morning, My name is Erik Demaine and I love Algorithms</h1>
        <p>- Erik Demaine</p>
    </div>
    <section class="join-us">
        <p><b>At NASA, We Make Air And Space Available For Everyone.</b></p>
        <h2>Join Today</h2>
        <form>
            <input type="email" name="email" placeholder="         Enter Your Email" required>
        </form>       
    </section>
    <%- include("./partial/footer.ejs") %>
    </body>
</html>